.inner-page-banner{
  position: relative;
  padding: 30px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: var(--ossp-primary);
  color: #ffffff;
}

.inner-page-banner .breadcrumb-item + .breadcrumb-item:before,
.inner-page-banner .breadcrumb li,
.inner-page-banner .breadcrumb li a{
  color: #ffffff;
  font-size: 15px;
}
.breadcrumb{
  background-color: transparent;
  padding-left: 0;
}
.bida-page-breadcrumb .breadcrumb li{
  font-size: 15px;
}

.page-title{
  padding: 20px 0;
  direction: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.page-title h2{
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 10px;
  color: #ffffff;
}

.bida-page-breadcrumb{
  padding-top: 24px;
}
.bida-page-breadcrumb .container{
  max-width: 95%;
}
.bida-page-breadcrumb .breadcrumb{
  margin-bottom: 0;
}

/**
 * Service Traking style
 */
.service-tracking-form{
  display: flex;
  widows: 100%;
  max-width: 800px;
  margin: 0 auto;
  flex-direction: column;
}
.service-tracking-form .form-group{
  margin-bottom: 20px;
}
.srv-tracking-content .form-group label,
.service-tracking-form .form-group label{
  margin-bottom: 8px;
}
.srv-tracking-content input,
.srv-tracking-content select,
.service-tracking-form input,
.service-tracking-form select{
  outline: none !important;
  box-shadow: none !important;
  height: 40px;
}

.srv-tracking-content input:focus,
.srv-tracking-content select:focus,
.srv-tracking-content input:active,
.srv-tracking-content select:active,
.service-tracking-form input:focus,
.service-tracking-form select:focus,
.service-tracking-form input:active,
.service-tracking-form select:active{
  border-color: var(--ossp-primary);
}

.gradient-btn{
  border-radius: 8px !important;
  border: none !important;
  background: linear-gradient(102deg, #0F6849 48.49%, #1ECE91 91.05%);
}
.gradient-btn:hover{
  background: linear-gradient(102deg, #1ECE91 48.49%, #0F6849 91.05%);
}
.service-tracking-form .search-btn{
  font-size: 24px;
  font-weight: bold;
  height: 54px;
  width: 220px;
}
.srv-tracking-btn-group{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  text-align: center;
  column-gap: 20px;
  row-gap: 10px;
}
.srv-tracking-btn-group .btn{
  border-radius: 8px;
  height: 42px;
  font-weight: bold;
  min-width: 140px;
}
.srv-tracking-content .form-control{
  border-color: #d4d4d4;
}

.srv-tracking-content{
  position: relative;
  display: block;
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.application-status-box{
  position: relative;
  width: 100%;
  background-color: #fbfbfb;
  border: 1px solid #d4d4d4;
  padding: 24px;
  margin-top: 40px;
  border-radius: 8px;
}
.application-status-box .form-title{
  text-align: center;
}
.form-title{
  margin-bottom: 20px;
}
.form-title h3{
  font-size: 24px;
  margin: 0 0 5px;
}
.srv-tracking-info{
  background: #ffffff;
  width: 100%;
  position: relative;
  border-radius: 8px;
  padding: 30px;
}

.tracking-info-item{
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: left;
  color: #000000;
}
.tracking-info-item p,
.tracking-info-item .info-label{
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 2px 0;
}
.tracking-info-item .info-label{
  color: #9e9e9e;
  display: block;
  font-size: 16px;
}

/**
 * Inner Page Content
 */
.page-content{
  position: relative;
  text-align: left;
}

.page-content h1,
.page-content h2,
.page-content h3{
  line-height: 1.1;
  margin: 0 0 10px;
  padding: 0;
}
.page-content h1{
  font-size: 40px;
  font-weight: 700;
}
.page-content h2{
  font-size: 30px;
  font-weight: 700;
}
.page-content h3{
  font-size: 20px;
  font-weight: normal;
}
.page-content p{
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
  margin: 0 0 16px;
}
.page-content ul{
  padding: 5px 0 0;
  margin: 0 0 20px 20px;
  list-style: disc;
}
.page-content ul li{
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
}

/**
 * Inner Page Social Links
 */
.bida-social-links{
  position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 30px 0 0;
}
.bida-social-links ul{
  display: flex;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}
.bida-social-links ul li{
  display: block;
}
.bida-social-links ul li a{
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
}
.bida-social-links ul li a svg{
  width: 30px;
}

@media (min-width: 992px){
  .application-status-box{
    padding: 30px;
  }
}
@media (min-width: 1441px){
  .application-status-box{
    padding: 40px;
  }
}

@media (max-width: 991px){
  .page-title h2{
    font-size: 40px;
  }

}

@media (max-width: 767px){
  .tracking-info-item p{
    font-size: 16px;
  }
  .tracking-info-item .info-label{
    font-size: 15px;
  }
}
@media (max-width: 575px){
  .page-title h2{
    font-size: 30px;
  }

}

.status-tree{
  padding: 50px 0 20px;
}
.status-steps-items{
  position: relative;
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}
.status-steps-items ul{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.status-steps-items ul li{
  position: relative;
  display: flex;
  width: 100%;
  padding: 5px 5px 5px 45px;
  height: 32px;
  align-items: center;
}
.status-steps-items ul li:before{
  content: "";
  background-image: url(../../images/pages/icon-staus-pending.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
.status-steps-items ul li.step-done:before{
  background-image: url(../../images/pages/icon-status-success.svg);
}

.status-steps-items ul li:after {
  content: "";
  position: absolute;
  left: 15px;
  width: 3px;
  height: 40px;
  bottom: 100%;
  background: transparent;
  display: block;
  border-left: 3px dotted #a1aebe;
}

.status-steps-items ul li:first-child:after{
  display: none;
}
.status-steps-items ul li .steps-icon{
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  background: #fbfbfb;
}
.status-steps-items ul li .steps-icon img{
  max-width: 100%;
  display: block;
  height: auto;
}
.status-steps-items ul li .steps-text{
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
  text-transform: capitalize;
  white-space: nowrap;
}
.status-steps-items ul li.step-done .steps-text{
  color: var(--ossp-primary);
}

.status-steps-items ul li.step-done:after{
  border-left-color: var(--ossp-primary);
}

