/* Ensure the size of the image fit the container perfectly */
img {
    display: block;
    /* This rule is very important, please don't ignore this */
    max-width: 100%;
}

.radio_hover {
    cursor: pointer;
}

input[type="radio"] {
    -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
    -moz-appearance: checkbox; /* Firefox */
    -ms-appearance: checkbox; /* not currently supported */
}

.round-btn {
    border-radius: 30px !important;
    min-width: 120px;
}

.round-btn:focus {
    outline: 0 !important;
}

#identityVerifyForm .form-group {
    margin-bottom: 5px;
    margin-right: -10px;
    margin-left: -10px;
}

.passport-upload-wrapper {
    margin-top: 10px;
}

#passport_upload_view_wrapper {
    color: #000;
    background-color: #F5FAFE;
    border-radius: 0 !important;
    border: 0;
    font-weight: 400;
    outline: 1px dashed #ccc;
    padding: 20px;
    overflow: hidden;
}

#passport_upload_div {
    position: relative;
}

.passport-upload {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    padding: 5px 10px;
    font-size: 1rem;
    text-align: center;
    color: #000;
    background-color: #F5FAFE;
    border-radius: 0 !important;
    border: 0;
    height: 120px;
    /*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);*/
    font-weight: 400;
    outline: 1px dashed #ccc;
    margin-bottom: 5px;
}
.passport-upload-icon {
    color: #ccc;
    margin-bottom: 10px;
}

.passport-upload-message {
    position: relative;
    top: 50px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.passport-upload-input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 5;
}

.magnify {
    position: relative;
    z-index: 9999;
    color: #000;
    background-color: #F5FAFE;
    border-radius: 0 !important;
    border: 0;
    font-weight: 400;
    outline: 1px dashed #ccc;
    padding: 10px;
    overflow: hidden;
}

.small {
    display: block;
    z-index: 9999;
}

.large {
    z-index: 9999;
    width: 400px;
    height: 400px;
    position: absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
    display: none;
}

@media only screen and (max-width: 767px) {
    .passport-upload {
        height: 150px;
    }
}


/*passport*/
/*.files input {*/
/*    outline: 2px dashed #92b0b3;*/
/*    outline-offset: -10px;*/
/*    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;*/
/*    transition: outline-offset .15s ease-in-out, background-color .15s linear;*/
/*    padding: 120px 0px 85px 35%;*/
/*    text-align: center !important;*/
/*    margin: 0;*/
/*    width: 100% !important;*/
/*}*/
/*.files input:focus{*/
/*    outline: 2px dashed #92b0b3;  outline-offset: -10px;*/
/*    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;*/
/*    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;*/
/*}*/
/*.files{*/
/*    position:relative*/
/*}*/
/*.files:after {*/
/*    pointer-events: none;*/
/*    position: absolute;*/
/*    top: 60px;*/
/*    left: 0;*/
/*    width: 50px;*/
/*    right: 0;*/
/*    height: 56px;*/
/*    content: "";*/
/*    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);*/
/*    display: block;*/
/*    margin: 0 auto;*/
/*    background-size: 100%;*/
/*    background-repeat: no-repeat;*/
/*}*/
/*.files:before {*/
/*    position: absolute;*/
/*    bottom: 10px;*/
/*    left: 0;  pointer-events: none;*/
/*    width: 100%;*/
/*    right: 0;*/
/*    height: 57px;*/
/*    content: " or drag it here. ";*/
/*    display: block;*/
/*    margin: 0 auto;*/
/*    color: #2ea591;*/
/*    font-weight: 600;*/
/*    text-transform: capitalize;*/
/*    text-align: center;*/
/*}*/
