#reg_form  .form-control-feedback
{
    top: 9px !important;
}

.user-login-modal-container {
    font-family: 'Open Sans', sans-serif;
    width: 422px;
    margin-top: 81px;
}

.user-login-modal-title {
    background-color: #fff;
    text-align: left;
    font-size: 18px;
    font-weight: normal;
    min-height: 24px;
    line-height: normal;
    padding: 20px 32px;
    margin: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    flex-shrink: 0;
}

.user-login-modal-container .user-login-modal-title .modal-title {
    font-weight: normal;
}

.user-login-modal-container .user-login-modal-content {
    background: #f6f9fc none repeat scroll 0 0;
    font-size: 13px;
    line-height: 1.8em;
    max-height: 60vh;
    overflow: auto;
}

.user-login-modal-content input {
    font-size: 16px;
}

.user-login-modal-footer {
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #f6f9fc none repeat scroll 0 0;
    padding: 3px !important;
}

.login-need-help a {
    display: block;
    margin-bottom: 4px;
    color: #337ab7;
    text-decoration: none;
}

.nav > li > a.active {
    text-decoration: none;
    background-color: #3aa8d8;
    color: #012233;
}

.nav > li > ul > li > a.active {
    text-decoration: none;
    background-color: #3aa8d8;
    color: #012233;
}

.navbar-top-links li a.dropdown-toggle {
    background-color: #3aa8d8;
    color: #012233;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #3aa8d8;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #3aa8d8;
    border-color: #337ab7;
}

.email-error-message {
    color: #e82110;
    font-size: 12px;
}

.password-error-message {
    color: #e82110;
    font-size: 12px;
}

.error {
    color: #2a2727 !important;
    border: 1px solid #e68880;
}

#otp_login_label {
    font-size: 16px;
}