/**
 * Section Name: Header
 * Author: Hafizur Rahman
 * Description: Description
 * Version: 1.0.0
 */
/**
 * Top Search
 */
.topBtnSrc{
	cursor: pointer;
	height: 24px;
	width: 36px;
	display: flex;
	align-items: center;
	justify-content: center;
}
body #searchOuter {
    background-color: #ffffff;
    height: 200px;
    width: 100%;
    position: fixed;
    padding: 0;
    top: -1px;
    left: 0;
    display: block;
    z-index: 99999!important;
    box-shadow: 0 0px 10px 0 rgb(112, 112, 112, 0.44);
    transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.8s cubic-bezier(0.2, 1, 0.3, 1);
    -webkit-transform: translate3d(0,-200px,0);
    		transform: translate3d(0,-200px,0);
}
body #searchOuter .srcOuterWrap{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.38);
}
body #searchOuter.sdgSrcOpen{
    transform: translate3d(0,0vh,0);
    -webkit-transform: translate3d(0,0vh,0);
}

#searchOuter .sdg-search{
    max-width: 1200px;
    width: 100%;
    position: relative;
    z-index: 10;
    margin: 0 auto;
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}
#searchOuter .sdg-search .sdg-src-input{
	width: 100%;
	padding: 10px 60px 5px 0;
	border: none;
	border-bottom: 3px solid var(--ossp-primary);
	font-size: 40px;
	line-height: 1;
}
#searchOuter .sdg-search .sdg-src-input:active,
#searchOuter .sdg-search .sdg-src-input:focus{
	outline: none !important;
	box-shadow: none !important;
}
#searchOuter .sdg-search .sdg-search-wrap{
	position: relative;
}
#searchOuter .sdg-search .sdg-search-wrap span{
	opacity: 0.7;
	display: block;
    color: rgba(0,0,0,0.4);
    margin-top: 15px;
    font-size: 18px;
}
#searchOuter .sdg-search .sdg-search-wrap .sdgSrcClose{
	height: 40px;
	width: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	right: 20px;
	top: 0;
	background-color: rgba(0,0,0,.05);
	border-radius: 50%;
	font-size: 20px;
	font-weight: normal;
	cursor: pointer;
	color: #000;
	transition: transform 0.8s cubic-bezier(0.2, 1, 0.3, 1), background-color 0.8s cubic-bezier(0.2, 1, 0.3, 1);
}
#searchOuter .sdg-search .sdg-search-wrap .sdgSrcClose:hover{
	background-color: var(--ossp-primary);
	color: #ffffff;
}
#searchOuter .sdg-search .sdg-search-wrap .sdgSrcClose svg path{
	fill: #999999;
}
#searchOuter .sdg-search .sdg-search-wrap .sdgSrcClose:hover svg path{
	fill: #ffffff;
}

/**
 * Header
 */
.header-main{
	position: relative;
    box-shadow: 0px 4px 15.999px 0px rgba(0, 0, 0, 0.06);
}

.header-top{
	background-color: var(--ossp-primary);
	color: #ffffff;
}
.header-top .header-top-content{
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
	column-gap: 20px;
	min-height: 40px;
	align-items: center;
}
.htop-links{
	display: flex;
	align-items: center;
	column-gap: 15px;
}
.htop-links .icon-link-item{
	position: relative;
	padding: 5px 5px 6px 32px;
	height: 32px;
}
.htop-links .link-text,
.htop-links .icon-link-item{
	text-align: left;
	display: flex;
	align-items: center;
	color: #ffffff;
	font-size: 14px;
}
.htop-links .icon-link-item .link-icon{
	position: absolute;
	left: 0;
	top: 0;
	height: 32px;
	width: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ossp-lang-btn{
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: 500;
	display: flex;
	column-gap: 8px;
	align-items: center;
	color: inherit;
}
.header-top .ossp-lang-btn{
	color: #fff !important;
}
.ossp-lang-btn .icon-lang-toggler{
	width: 36px;
	height: 22px;
	background: #fff;
	display: inline-block;
	border-radius: 40px;
	position: relative;
	transition: var(--ossp-transition);
}
.ossp-lang-btn .icon-lang-toggler .icon-tick-circle{
	content: "";
	position: absolute;
	right: 2px;
	top: 2px;
	width: 18px;
	height: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100%;
	background-color: var(--ossp-primary);
	transition: var(--ossp-transition);
}
.ossp-lang-btn.toggle-left .icon-lang-toggler .icon-tick-circle{
	right: 16px;
}


/**
 * Header Main
 */
.header-main .site-logo{
	width: 155px;
	margin-right: 20px;
}
.header-main .site-logo img{
	max-width: 100%;
}

.header-menu{
	width: 100%;
	padding: 5px 0;
}

.navbar-expand-lg .navbar-nav{
	column-gap: 10px;
}
.navbar-expand-lg .navbar-nav .nav-link{
	font-size: 15px;
	color: #000000;
	transition: var(--ossp-transition);
	font-family: var(--ossp-font);
	padding: 10px 10px;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
	color: var(--ossp-primary);
}

.header-main .navbar-toggler{
	background-color: #0F6849;
	border-color: #0F6849;
	color: #ffffff;
	height: 42px;
	width: 50px;
	padding: 0;
}
.header-main .navbar-toggler.collapsed .navbar-toggler-icon{
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 448 512"><path d="M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z" fill="white"/></svg>');
    background-size: 20px;
}
.header-main .navbar-toggler .navbar-toggler-icon{
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 384 512"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" fill="white"/></svg>');
    background-size: 20px;
    transition: var(--ossp-transition);
}

.navbar-nav .btn{
  padding-left: 10px;
  padding-right: 10px;
}

.flex-btn-group{
	display: flex;
	column-gap: 10px;
}

/**
 * Popup Style
 */
.animated-container{
  position: relative;
  width: 100%;
  display: block;
  margin: 0px auto;
  transition: 0.5s ease-in-out;
  /* z-index: 1031; */
}

.site-popup-sec{
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
}
.site-popup-sec .notice-content{
  position: relative;
  width: 100%;
  text-align: left;
  padding: 15px 0;
}
.site-popup-sec .notice-content p{
  font-size: 15px;
  line-height: 1.5;
  margin: 0;
  padding: 5px 0;
}

.bidaNoticeCloseBtn{
  height: 30px;
  width: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.bidaNoticeCloseBtn img,
.bidaNoticeCloseBtn svg{
  height: 28px;
  width: 28px;
}

.site-popup-title{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 10px;
}
.site-popup-title p{
  margin: 0;
}
.site-popup-title .popup-title-arrow{
  position: relative;
  padding-right: 26px;
  text-align: right;
  cursor: pointer;
}
.site-popup-title .popup-title-arrow:before{
  content: "";
  position: absolute;
  right: 0;
  top: 3px;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--ossp-transition);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 13px 8px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="10" viewBox="0 0 16 10" fill="none"><path d="M1 8.5L8 1.5L15 8.5" stroke="%23130F26" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>');
}
.site-popup-title .popup-title-arrow.collapsed:before{
  transform: rotate(180deg);
}

@media (min-width: 1920px){

  .site-popup-sec .container,
  .header-main .container{
    max-width: calc(100% - 200px);
  }
}

@media (min-width: 1441px){
  .site-popup-sec .container,
  .header-main .container{
    max-width: calc(100% - 120px);
  }
}

@media (min-width: 992px){
  .header-menu .navbar .res-login-btn,
  .header-top.resView{
    display: none !important;
  }

	.navbar-expand-lg .navbar-collapse{
		justify-content: flex-end;
	}

  .site-popup-sec .container,
  .header-main .container{
    max-width: calc(100% - 80px);
  }
}

@media (max-width: 992px){
	.navbar-expand-lg .navbar-nav .nav-item{
		margin-top: 10px;
	}
	.navbar-expand-lg .navbar-nav .nav-link{
		padding: 0 0 5px;
	}
	.navbar-expand-lg .navbar-nav .nav-btn{
		min-width: 120px;
	}

  .header-top .header-top-content{
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px 15px;
    row-gap: 5px;
  }

  .navbar-expand-lg .navbar-nav .nav-item.deskView,
  .header-top.deskView{
    display: none !important;
  }

  .header-top{
    margin-top: 10px;
    border-radius: 10px;
  }
  .htop-left .htop-links{
    flex-direction: column;
  }

  .site-popup-sec .container,
  .header-main .container{
    max-width: calc(100% - 40px);
  }
}

@media (max-width: 767px){
  .header-main .site-logo{
    width: 120px;
  }

  .header-main .navbar .res-login-btn{
    padding-left: 8px;
    padding-right: 8px;
    font-size: 13px;
  }

  .site-popup-sec .container,
  .header-main .container{
    max-width: 100%;
  }

  .bida-sec-desc h2{
    font-size: 24px;
  }
  .site-popup-title p,
  .site-popup-sec .notice-content p{
    font-size: 14px;
  }
}

@media (max-width: 575px){
  .caption-content h2 {
      font-size: 20px;
  }
  
  .site-popup-title p,
  .bottom-collapse-sec p,
  .site-popup-sec .notice-content p{
    font-size: 13px;
  }

  .bida-section{
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 370px){
  .header-main .site-logo{
    width: 100px;
    margin-right: 10px;
  }

  .header-main .navbar .res-login-btn{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
  }
}






