.ossp-contact-sec{
    position: relative;
    padding: 80px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.ossp-contact-box{
    position: relative;
    background: #ffffff;
    padding: 40px;
    border: 1px solid #F1F1F1;
    border-radius: 14px;
    min-height: 500px;
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    box-shadow: 0px 20px 30px 0px rgba(17, 83, 193, 0.12);
}

.contact-title{
    text-align: left;
}
.contact-title h2{
    margin-bottom: 0;
}

.contact-content{
    position: relative;
    display: inline-block;
    width: 100%;
    padding-right: 340px;
}

.contact-content .contact-form{
    padding-top: 40px;
}

.contact-form .btn{
    width: 100%;
}
.contact-form .form-group{
    margin-bottom: 25px;
}
.contact-form .form-control{
    border-radius: 4px;
    border-color: #F3FCFF;
    background: #F3FCFF;
    font-size: 15px;
    height: 44px;
}
.contact-form textarea.form-control{
    min-height: 120px;
}
.contact-form .form-control:focus,
.contact-form .form-control:active{
    border-color: var(--ossp-primary);
    outline: none !important;
    box-shadow: none !important;
}

.contact-recaptcha img{
    width: 100%;
    max-width: 300px;
}

.contact-content .contact-desc{
    width: 300px;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 20px;
}
.env-gif{
    position: relative;
    width: 240px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.env-gif img{
    width: 100%;
}

.contact-info-item{
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding-left: 35px;
    min-height: 26px;
    color: #404C66;
    margin-top: 12px;
}
.contact-info-item .info-icon{
    height: 26px;
    width: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
}
.contact-info-item .info-icon svg{
    width: 26px;
    height: auto;
}
.contact-info-item .info-icon img{
    max-width: 100%;
}
.contact-info-item a,
.contact-info-item p{
    color: #171717;
    margin: 0;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 1px;
}
.contact-info-item a:hover{
    color: var(--ossp-primary);
}
.contact-info-item .label-title{
  display: block;
  margin-bottom: 4px;
  font-size: 13px;
  line-height: 1;
  color: #737373;
}

@media (max-width: 991px){
    .contact-title{
        text-align: center;
    }
    .ossp-contact-box{
        padding: 30px;
        max-width: 480px;
    }
    .contact-content{
        padding-right: 0;
    }
    .contact-content .contact-desc{
        position: relative;
        top: auto;
        right: auto;
        width: 100%;
        padding-bottom: 0;
    }
    .ossp-contact-sec{
      padding-top: 50px;
      padding-bottom: 50px;
    }
}

@media (max-width: 390px){
    .env-gif{
        height: 200px;
        width: 200px;
    }
}

