/**
 * FAQ Page
 */
.bida-acd-item{
    background: #ffffff;
    position: relative;
    display: inline-block;
    width: 100%;
    color: #63747B;
    border-radius: 6px;
    box-shadow: 0px 2px 11px -2px rgba(0, 0, 0, 0.06);
    margin-bottom: 16px;
}
.bida-acd-item .accordian-head{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 55px 10px 20px;
    cursor: pointer;
    transition: background 0.3s ease-in-out 0s;
    min-height: 54px;
    background: var(--ossp-primary);
    color: #ffffff;
    border-radius: 6px 6px 0 0;
    border: 1px solid transparent;
}
.bida-acd-item .bida-acd-item .accordian-head{
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 46px;
}
.bida-acd-item .bida-acd-item .accordian-head h3{
  font-size: 15px !important;
}
.bida-acd-item .accordian-head.collapsed{
    background: #ffffff;
    color: var(--ossp-primary);
    border-radius: 6px;
    border-color: var(--ossp-primary);
}

.accordian-head .accordian-indicator{
    height: 34px;
    width: 34px;
    border-radius: 6px;
    display: flex;
    background-color: #F0F7FC;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.accordian-head .accordian-indicator .icon-plus{
    position: relative;
    display: block;
    height: 16px;
    width: 16px;
}
.accordian-head .accordian-indicator .icon-plus:after,
.accordian-head .accordian-indicator .icon-plus:before{
    content: "";
    position: absolute;
    display: block;
    background: var(--ossp-primary);
    transition: all 0.3s ease-in-out 0s;
}
.accordian-head .accordian-indicator .icon-plus:after{
    opacity: 0;
}
.accordian-head .accordian-indicator .icon-plus:before{
    width: 16px;
    height: 2px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.accordian-head.collapsed .accordian-indicator .icon-plus:after,
.accordian-head .accordian-indicator.collapsed .icon-plus:after{
    width: 2px;
    height: 16px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}

.bida-acd-item .bida-acd-title h4,
.bida-acd-item .bida-acd-title h3{
    font-family: var(--ossp-font);
    font-size: 16px;
    margin: 5px 0 !important;
    font-weight: 600;
}
.bida-acd-item .bida-acd-title p{
    font-family: var(--ossp-font);
    margin: 10px 0;
}

.bida-acd-item .bida-acd-content{
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 20px 25px 10px;
}
.bida-acd-item .bida-acd-content h3,
.bida-acd-item .bida-acd-content h4{
    font-family: var(--ossp-font);
    font-size: 18px;
    margin: 0 0 10px;
    font-weight: 600;
}

.bida-acd-item .bida-acd-content h3{
    font-size: 20px;
}

@media (max-width: 991px){
    .bida-acd-item .bida-acd-content h3{
        font-size: 18px;
    }

    .bida-acd-item .bida-acd-title h3{
        font-size: 16px;
    }
}

@media (max-width: 767px){
    .bida-acd-item .bida-acd-content h3{
        font-size: 16px;
    }
    .bida-acd-item .bida-acd-title h4,
    .bida-acd-item .bida-acd-title h3{
        font-size: 15px;
    }

    .bida-acd-item .bida-acd-content p{
        font-size: 14px;
    }
}

@media (max-width: 575px){
    .bida-acd-item .bida-acd-content h3{
        font-size: 15px;
    }
    .bida-acd-item .bida-acd-title h4,
    .bida-acd-item .bida-acd-title h3{
        font-size: 14px;
    }
}

