/**
 * Section Name: Home Banner Slider
 * Author: Hafizur Rahman
 * Description: Description
 * Version: 1.0.0
 */
 section.home-slider{
	position: relative;
	padding: 0;
}

.home-slider .carousel-item{
	height: 520px;
	min-height: 400px;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
/**
 * ImageShadow
 */
 .home-slider .carousel-item:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: auto;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.48);
}
.home-slider .carousel-item .slider-caption .caption-content{
  z-index: 1000;
}

/** slider left right arrow */
.home-slider .carousel-control-next,
.home-slider .carousel-control-prev{
	opacity: 1 !important;
	width: 10%;
	min-width: 60px;
}
.home-slider .carousel-control-next-icon,
.home-slider .carousel-control-prev-icon{
	height: 44px;
	width: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: #ffffff;
	transition: var(--ossp-transition);
}
.home-slider .carousel-control-next:hover .carousel-control-next-icon,
.home-slider .carousel-control-prev:hover .carousel-control-prev-icon{
	background: var(--ossp-primary);
}

.home-slider .carousel-control-next-icon svg,
.home-slider .carousel-control-prev-icon svg{
	width: 30px;
	height: 28px;
}
.home-slider .carousel-control-next:hover .carousel-control-next-icon svg path,
.home-slider .carousel-control-prev:hover .carousel-control-prev-icon svg path{
	fill: #ffffff;
}

/** slider Indecator */
.home-slider .carousel-indicators {
    bottom: 20px;
}
.home-slider .carousel-control.right,
.home-slider .carousel-control.left {
    background-image: none;
}
.home-slider .carousel-indicators li{
	background: none;
	border: 1px solid var(--ossp-primary);
	height: 16px;
	width: 16px;
	border-radius: 4px;
	cursor: pointer;
	opacity: .75;
}
.home-slider .carousel-indicators li:hover,
.home-slider .carousel-indicators li.active{
	background-color: var(--ossp-primary);
}

/**
 * Slider Caption
 */
.slider-caption{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	flex-direction: column;
	text-align: left;
	height: 100%;
}

.slider-caption .caption-content{
	position: relative;
	width: auto;
	margin: 0;
	display: block;
	text-align: left;
	white-space: normal;
	color: #ffffff;
	padding: 0px 30px 10px 40px;
	border-radius: 2px;
}

.caption-content h2{
	font-family: var(--ossp-font);
    margin: 0;
	font-size: 40px;
    line-height: 1.3;
	font-weight: 700;
	padding: 5px 0;
    letter-spacing: 0.5px;
}
.caption-content a{
	display: block;
}
.caption-content .caption-border{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 10px;
	background: var(--ossp-orange);
	display: block;
}

.caption-content .home-slider-btn{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	padding: 10px 20px;
	background: #ffffff;
	color: var(--ossp-primary);
	font-family: var(--ossp-font);
	font-size: 15px;
	font-weight: 600;
	border-radius: 10px;
	margin-top: 15px;
	width: 180px;
	text-decoration: none;
}
.caption-content .home-slider-btn:hover{
	background: var(--ossp-primary);
	transition: var(--ossp-transition);
	color: #ffffff;
}

.caption-content .animated{
	transition: opacity 0.5s;
}
.animation-delay-1{
    animation-delay: 0.5s;
}
.animation-delay-2{
    animation-delay: 1s;
}
.animation-delay-3{
    animation-delay: 1.5s;
}
.animation-delay-4{
    animation-delay: 2s;
}
.animation-delay-5{
    animation-delay: 2.5s;
}
.animation-delay-6{
    animation-delay: 3s;
}

@media (min-width: 768px){
  .home-slider .container{
    padding-left: 100px;
    max-width: 100%;
  }
}

@media (min-width: 992px){
  .home-slider .container{
    padding-left: 120px;
  }
}

@media (min-width: 1441px){
  .home-slider .container{
    padding-left: 150px;
  }
}

@media (max-width: 991px){
	.caption-content h2{
		font-size: 34px;
	}

	.home-slider .carousel-item{
		height: 480px;
	}

}
@media (max-width: 767px){
	.home-slider .carousel-item{
		height: 400px;
	}
	.caption-content h2{
		font-size: 30px;
	}
	.slider-caption .caption-content{
		width: 100%;
		text-align: center;
	}
	.caption-content .home-slider-btn{
		margin-left: auto;
		margin-right: auto;
	}
	.caption-content .caption-border{
		display: none;
	}
	.caption-content .home-slider-btn{
		height: 40px;
		font-size: 14px;
	}
}
@media (max-width: 575px){
	.home-slider .carousel-item{
		min-height: 300px;
		height: 340px;
	}
	.caption-content h2{
		font-size: 24px;
	}
}









